.aboutDescription {
    background: #fff;
    border-radius: 0 0 10px 10px;
    padding: 2rem 4rem;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex: 1;
    @media screen and (min-width: 768px) {
        border-radius: 0 10px 10px 0;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto 0px;
        &__title {
            @include themify() {
                color: themed(primary);
            }
        }
    }
    &__networks {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        &__link {
            width: 15px;
            height: 15px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem;
            color: #fff;
            border: 2px solid;
            @include themify() {
                background: themed(primary);
                border-color: themed(primary);
            }
        }
        &__cv {
            width: auto;
            padding: 0.5rem 1rem;
            border-radius: 30px;
            border: 2px solid;
            @include themify() {
                color: themed(primary);
                border-color: themed(primary);
            }
        }
    }
}