.about {
    background: #fff;
    border-radius: 0 0 10px 10px;
    text-align: center;
    &__description {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 2rem;
        &__title {
            @include themify() {
                color: themed(primary);
            }
        }
    }
}