.about {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    height: 100vh;
    padding: 5%;
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        height: 100%;
        position: relative;
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
        &__picture {
            width: auto;
            overflow: hidden;
            position: relative;
            border-radius: 10px 10px 0 0;
            flex: 2;
            @media screen and (min-width: 768px) {
                border-radius: 10px 0 0 10px;
            }
        }
    }
}
