.card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    &__link {
        border-radius: $border-radius;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        flex: 1;
        &__img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__tags {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-transform: capitalize;
            top: 1.5rem;
            right: 1.5rem;
            &__tag {
                padding: 0.5rem;
            @for $i from 1 through 3 {
                &:nth-child(#{$i}) {
                    z-index: 3 - $i;
                }
            }
                @include themify() {
                    &:nth-child(2n+1) {
                        background-color: themed('tertiary');
                        transform: rotate(10deg);
                    }
                    &:nth-child(2n) {
                        background-color: themed('secondary');
                        color: themed('primary');
                        transform: rotate(-10deg);
                    }
                }
            }
        }
    }
    &__details {
        padding: 0.3rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        &__wrapper {
            display: flex;
            &__title {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 20px;
            }
            &__date {
                margin-left: auto;
                font-weight: bold;
            }
        }
    }
}

@keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }