.navigate-back {
    cursor: pointer;
    display: flex;
    gap: 5px;
    align-items: center;
    @include themify() {
        color: themed(secondary);
    }
    &__icon {
        @include themify() {
            fill: themed(secondary);
        }
    }
}