.round-button {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    z-index: 1;
    cursor: pointer;
    @include themify() {
        background: lighten(themed('tertiary'), 10%);
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        &__bullet {
            width: 5px;
            height: 5px;
            border-radius: 5px;
            @include themify() {
                background-color: themed('primary');
            }
        }
    }
    &--more {
        @include themify() {
            background: themed('secondary');
            border: 3px solid themed('primary');
        }
    }
    &--close {
        @include themify() {
            background: lighten(themed('tertiary'), 10%);
        }
        .round-button__icon {
            @include themify() {
                &:before, &:after {
                    background: themed('hightlight-color');
                }
            }
            &:before, &:after {
                content: "";
                position: absolute;
                height: 18px;
                width: 2px;
                border-radius: 2px;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
}
