.tag {
    &__input {
        &:checked + .tag__label{
            outline: 0px;
            font-weight: 600;
            @include themify() {
                color: themed('primary');
                background: themed('secondary');
            }
        }
    }
    &__label {
        padding: 0.5rem;
        display: flex;
        border-radius: $border-radius;
        text-transform: capitalize;
        @include themify() {
            outline: 1px solid themed('main-color');
        }
    }
}