.tag {
    &__input {
        &:checked + .tag__label{
            outline: 0px;
            font-weight: 600;
            @include themify() {
                color: themed('primary');
                background: themed('secondary');
            }
        }
    }
    &__label {
        padding: 0.5rem;
        display: inline-block;
        text-align: center;
        border-radius: $border-radius;
        text-transform: capitalize;
        cursor: pointer;
        @include themify() {
            outline: 1px solid themed('hightlight-color');
        }
        &::after {
            display: block;
            content: attr(title);
            font-weight: 600;
            height: 1px;
            color: transparent;
            overflow: hidden;
            visibility: hidden;
          }
    }
}