.theme-choices {
    display: flex;
    position: relative;
    gap: 2rem;
    z-index: 150;
    top: 50%;
    &--left {
        left: 0;
        &.slide-in {
            animation: SlideInLeft 1s both;
        }
        &.slide-out {
            animation: SlideOutLeft 1s 1s both;
        }
    }
    &--right {
        right: 0;
        &.slide-in {
            animation: SlideInRight 1s both;
        }
        &.slide-out {
            animation: SlideOutRight 1s 1s both;
        }
    }
    &__button {
        input[type=radio] {
            width: 18px;
            height: 18px;
            border-radius: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;
            @include themify() {
                background-color: themed('secondary');  
                &:checked {
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: block;
                        width: 25px;
                        height: 25px;
                        border-radius: 18px;
                        border: 2px solid themed('secondary');
                    }
                }
            }
        }   
    }
}

@keyframes SlideInLeft {
    0% {
        left: 0;
        transform: translateX(0);
    }
    100% {
        left: calc(50% - 1rem);
        transform: translateX(-100%);
    }
}

@keyframes SlideOutLeft {
    0% {
        left: calc(50% - 1rem);
        transform: translateX(-100%);
    }
    100% {
        left: 0;
        transform: translateX(0);
    }
}



@keyframes SlideInRight {
    0% {
        right: 0;
        transform: translateX(0);
    }
    100% {
        right: calc(50% - 1rem);
        transform: translateX(100%);
    }
}

@keyframes SlideOutRight {
    0% {
        right: calc(50% - 1rem);
        transform: translateX(100%);
    }
    100% {
        right: 0;
        transform: translateX(0);
    }
}
