.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 1px solid #000;
    font-size: 14px;
    @include themify() {
        background-color: themed('main-background');
        color: themed('main-color');
        border-top: 1px solid darken(themed('primary'), 15%);
    }
}