.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 2rem 8rem 2rem;
    gap: 1rem;
    @include themify() {
        background-color: themed(primary);
    }
    &__themes {
        display: flex;
        gap: 2rem;
        &__button {
            z-index: 150;
            input[type=radio] {
                width: 18px;
                height: 18px;
                border-radius: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                @include themify() {
                    background-color: themed('secondary');  
                    &:checked {
                        &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            width: 25px;
                            height: 25px;
                            border-radius: 18px;
                            border: 2px solid themed('secondary');
                        }
                    }
                }
            }   
        }
    }
    &__profil {
        position: absolute;
        width: 100vw;
        max-width: 100%;
        padding: 2rem 1rem 1rem 1rem;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        z-index: 100;
        &.open {
            height: 100vh;
            padding-top: 100px;
            .header__profil__picture {
                width: 100%;
                height: 340px;
                overflow: hidden;
                img {
                    border-radius: 10px 10px 0 0;
                }
            }
        }
        &__picture {
            position: relative;
            width: 120px;
            height: 120px;
            img {
                width: 100%;
                object-fit: cover;
                @include box-shadow;
                border-radius: 90px;
            }
            button {
                position: absolute;
                padding: 0.5rem;
                bottom: -2px;
                right: -2px;
                border-radius: 10px;
                background: #fff;
            }
        }
    }
}