.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2.5rem;
    gap: 1rem;
    @include themify() {
        background-color: themed(primary);
    }
    &__picture {
        position: relative;
        &__container {
            width: 120px;
            height: 120px;
            border-radius: 90px;
            overflow: hidden;
        }
        &__button {
            position: absolute;
            bottom: -3px;
            right: -3px;
        }
    }
}