.header {
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
    @include themify() {
        background-color: themed('main-background');
    }
    &__themes {
        display: flex;
        gap: 2rem;
        &__button {
            z-index: 100;
            input[type=radio] {
                width: 18px;
                height: 18px;
                border-radius: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                @include themify() {
                    background-color: themed('secondary');  
                    &:checked {
                        &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: block;
                            width: 25px;
                            height: 25px;
                            border-radius: 18px;
                            border: 2px solid themed('secondary');
                        }
                    }
                }
            }   
        }
    }
    &__profil {
        &__picture {
            position: relative;
            img {
                display: block;
                width: 120px;
                height: 120px;
                border-radius: 90px;
                @include box-shadow;
            }
            button {
                width: 30px;
                height: 30px;
                position: absolute;
                bottom: -2px;
                right: -2px;
                border-radius: 25px;
                background: #fff;
            }
        }
    }
}