*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, ul, li, a, input[type=radio], input[type=checkbox] {
    all: unset;
}

#root {
    display: flex;
    min-height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--windowInnerHeight, 1vh) * 100);
    flex-direction: column;
}

body.remove-scroll {
    overflow-y: hidden;
}