*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, ul, li, a, input[type=radio], input[type=checkbox] {
    all: unset;
}

/* Remove weird blue background on click on mobile */
input,
textarea,
button,
select,
label,
a {
    -webkit-tap-highlight-color: transparent;
}

.app {
    display: flex;
    flex-direction: column;
}

body.remove-scroll {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}