*{
    margin: 0;
    padding: 0;
}

button, ul, li, a, input[type=radio], input[type=checkbox] {
    all: unset;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body.remove-scroll {
    overflow-y: hidden;
}