//colors
$primary: (
    base1:red
);
$secondary: (
    base1: blue
);
$tertiary: (
    base1: green
);
$quaternary: (
    base1: orange
);

$themes: (
    primary: (
        bg:red,
    ),
    secondary: (
        bg: blue,
    ),
    tertiary: (
        bg: green,
    ),
    quaternary: (
        bg: orange,
    )
);

$theme-map: null; // avoid deprecated 
$layout-padding: 3rem;