@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

button, ul, li, a, input[type=radio], input[type=checkbox] {
  all: unset;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}
.header.theme--primary {
  background-color: #4D2EAA;
}
.header.theme--secondary {
  background-color: orange;
}
.header.theme--tertiary {
  background-color: #4D2EAA;
}
.header.theme--quaternary {
  background-color: #303030;
}
.header__themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.header__themes__button input[type=radio] {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}
.header__themes__button input[type=radio].theme--primary {
  background-color: #F4B940;
}
.header__themes__button input[type=radio].theme--primary:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 18px;
  border: 2px solid #F4B940;
}
.header__themes__button input[type=radio].theme--secondary {
  background-color: #C74949;
}
.header__themes__button input[type=radio].theme--secondary:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 18px;
  border: 2px solid #C74949;
}
.header__themes__button input[type=radio].theme--tertiary {
  background-color: #E0F3D1;
}
.header__themes__button input[type=radio].theme--tertiary:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 18px;
  border: 2px solid #E0F3D1;
}
.header__themes__button input[type=radio].theme--quaternary {
  background-color: #000;
}
.header__themes__button input[type=radio].theme--quaternary:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 18px;
  border: 2px solid #000;
}

.main {
  padding: 2rem 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main.theme--primary {
  background-color: #4D2EAA;
  color: #fff;
}
.main.theme--secondary {
  background-color: orange;
  color: #fff;
}
.main.theme--tertiary {
  background-color: #4D2EAA;
  color: #fff;
}
.main.theme--quaternary {
  background-color: #303030;
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-top: 1px solid #000;
  font-size: 14px;
}
.footer.theme--primary {
  background-color: #4D2EAA;
  color: #fff;
  border-top: 1px solid #321e6e;
}
.footer.theme--secondary {
  background-color: orange;
  color: #fff;
  border-top: 1px solid #321e6e;
}
.footer.theme--tertiary {
  background-color: #4D2EAA;
  color: #fff;
  border-top: 1px solid #321e6e;
}
.footer.theme--quaternary {
  background-color: #303030;
  color: #fff;
  border-top: 1px solid #0a0a0a;
}

.profil {
  position: relative;
}
.profil__picture img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 90px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.profil__parameters {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: -2px;
  right: -2px;
  border-radius: 25px;
  background: #fff;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}
.card__link {
  border-radius: 0.7rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.card__link__img {
  display: block;
  width: 100%;
}
.card__link__tags {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  top: 1.5rem;
  right: 1.5rem;
}
.card__link__tags__tag {
  padding: 0.5rem;
}
.card__link__tags__tag:nth-child(1) {
  z-index: 2;
}
.card__link__tags__tag:nth-child(2) {
  z-index: 1;
}
.card__link__tags__tag:nth-child(3) {
  z-index: 0;
}
.card__link__tags__tag.theme--primary:nth-child(2n+1) {
  background-color: #EC6836;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}
.card__link__tags__tag.theme--primary:nth-child(2n) {
  background-color: #F4B940;
  color: #4D2EAA;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.card__link__tags__tag.theme--secondary:nth-child(2n+1) {
  background-color: #EC6836;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}
.card__link__tags__tag.theme--secondary:nth-child(2n) {
  background-color: #C74949;
  color: #4D2EAA;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.card__link__tags__tag.theme--tertiary:nth-child(2n+1) {
  background-color: #EC6836;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}
.card__link__tags__tag.theme--tertiary:nth-child(2n) {
  background-color: #E0F3D1;
  color: #4D2EAA;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.card__link__tags__tag.theme--quaternary:nth-child(2n+1) {
  background-color: #EC6836;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}
.card__link__tags__tag.theme--quaternary:nth-child(2n) {
  background-color: #000;
  color: #303030;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.card__details {
  padding: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3rem;
}
.card__details__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__details__wrapper__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}
.card__details__wrapper__date {
  margin-left: auto;
  font-weight: bold;
}

.tag__input:checked + .tag__label {
  outline: 0px;
  font-weight: 600;
}
.tag__input:checked + .tag__label.theme--primary {
  color: #4D2EAA;
  background: #F4B940;
}
.tag__input:checked + .tag__label.theme--secondary {
  color: #4D2EAA;
  background: #C74949;
}
.tag__input:checked + .tag__label.theme--tertiary {
  color: #4D2EAA;
  background: #E0F3D1;
}
.tag__input:checked + .tag__label.theme--quaternary {
  color: #303030;
  background: #000;
}
.tag__label {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.7rem;
  text-transform: capitalize;
}
.tag__label.theme--primary {
  outline: 1px solid #fff;
}
.tag__label.theme--secondary {
  outline: 1px solid #fff;
}
.tag__label.theme--tertiary {
  outline: 1px solid #fff;
}
.tag__label.theme--quaternary {
  outline: 1px solid #fff;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.portfolio__projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.portfolio__projects__empty {
  text-align: center;
}
.portfolio__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.welcome.theme--primary {
  color: #fff;
}
.welcome.theme--secondary {
  color: #fff;
}
.welcome.theme--tertiary {
  color: #fff;
}
.welcome.theme--quaternary {
  color: #fff;
}
.welcome__content {
  padding: 2rem 1.5rem;
  position: relative;
  border-radius: 0.7rem;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.welcome__content.theme--primary {
  background-color: #fff;
  color: #000;
}
.welcome__content.theme--secondary {
  background-color: #fff;
  color: #000;
}
.welcome__content.theme--tertiary {
  background-color: #fff;
  color: #000;
}
.welcome__content.theme--quaternary {
  background-color: #fff;
  color: #000;
}
.welcome__content__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 0.7rem;
  position: absolute;
  top: 0;
  left: 50%;
  background: #fff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  font-size: 18px;
  font-weight: bold;
}
.welcome__content__sub.theme--primary {
  background-color: #F4B940;
  color: #321e6e;
}
.welcome__content__sub.theme--secondary {
  background-color: #C74949;
  color: #321e6e;
}
.welcome__content__sub.theme--tertiary {
  background-color: #E0F3D1;
  color: #321e6e;
}
.welcome__content__sub.theme--quaternary {
  background-color: #000;
  color: #0a0a0a;
}
.welcome__button {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
}
.welcome__button.theme--primary {
  border: 2px solid #fff;
}
.welcome__button.theme--secondary {
  border: 2px solid #fff;
}
.welcome__button.theme--tertiary {
  border: 2px solid #fff;
}
.welcome__button.theme--quaternary {
  border: 2px solid #fff;
}/*# sourceMappingURL=main.css.map */