* {
  margin: 0;
  padding: 0;
}

button, ul, li, a, input[type=radio] {
  all: unset;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem;
  min-width: 300px;
}
.header__profil {
  position: relative;
}
.header__profil__picture {
  width: 90px;
  height: 90px;
  border: 2px solid #000;
}
.header__profil__parameters {
  width: 35px;
  height: 35px;
  border: 2px solid #000;
  position: absolute;
  bottom: -10px;
  right: -10px;
  border-radius: 25px;
  background: #fff;
}
.header__nav {
  font-size: 16px;
}
.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__nav__list__item a {
  cursor: pointer;
  display: block;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
.header__nav__list__item a.active {
  font-weight: bold;
}

.main {
  padding: 3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  min-width: 300px;
  border-top: 2px solid #000;
  position: relative;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.footer__social-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  font-weight: bold;
  font-size: 18px;
}
.footer__themes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.footer__themes__button input[type=radio] {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}
.footer__themes__button input[type=radio].theme--primary {
  background-color: red;
}
.footer__themes__button input[type=radio].theme--secondary {
  background-color: blue;
}
.footer__themes__button input[type=radio].theme--tertiary {
  background-color: green;
}
.footer__themes__button input[type=radio].theme--quaternary {
  background-color: orange;
}
.footer__themes__button input[type=radio]:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 18px;
}
.footer__themes__button input[type=radio]#primary:checked:after {
  border: 2px solid red;
}
.footer__themes__button input[type=radio]#secondary:checked:after {
  border: 2px solid blue;
}
.footer__themes__button input[type=radio]#tertiary:checked:after {
  border: 2px solid green;
}
.footer__themes__button input[type=radio]#quaternary:checked:after {
  border: 2px solid orange;
}

.welcome {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}
.welcome__content {
  padding: 2rem;
  position: relative;
  border: 2px solid #000;
}
.welcome__content__sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #000;
  padding: 0.5rem 1rem;
  position: absolute;
  top: 0;
  left: 20px;
  background: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
}
.welcome__button {
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 2px solid #000;
}/*# sourceMappingURL=main.css.map */