.portfolio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: $layout-padding;
    &__projects {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &__empty {
            text-align: center;
        }
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.6rem;
        align-items: center;
    }
}