.welcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: $layout-padding;
    position: relative;
    overflow: hidden;
    @include themify() {
        color: themed('hightlight-color')
    }
    &__content {
        padding: 2rem 1.5rem;
        position: relative;
        border-radius: $border-radius;
        @include themify() {
            background-color: themed('box-background');
            color: themed('box-color')
        }
        @include box-shadow;
        &__sub {
            display: flex;
            border-radius: $border-radius;
            align-items: center;
            padding: 0.5rem 0.7rem;
            position: absolute;
            top: 0;
            left: 50%;
            background: #fff;
            transform: translate(-50%,-50%);
            font-size: 18px;
            font-weight: bold;
            @include themify() {
                background-color: themed('secondary');
                color: darken(themed('primary'), 15%);
            }
        }
    }
    &__button {
        cursor: pointer;
        padding: 0.5rem 1rem;
        border-radius: 3rem;
        display: flex;
        align-items: center;
        gap: 10px;
        @include themify() {
            border: 2px solid themed('hightlight-color');
        }
    }
    &__help {
        text-align: center;
        @include themify() {
            color: themed('smooth-color');
        }
        &__link {
            font-style: italic;
            text-decoration: underline;
            cursor: pointer;
            .now-wrap {
                white-space: nowrap;
            }
        }
    }
    &__drag-icon {
        z-index: 999;
        position: absolute;
        cursor: grab;
        touch-action: none; //for draging on mobile
        &--key {
            bottom: 10%;
            left: 20%;
            &.dragging {
                cursor: grabbing;
            }
        }
        &--star {
            top: 10%;
            right: 20%;
            &.dragging {
                cursor: grabbing;
            }
        }
    }
}